src/main/resources/wsdl/AssetsWS.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<!-- WSDL file generated by Zend Studio. -->

<definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap/" name="AssetsWS" targetNamespace="urn:AssetsWS" xmlns:typens="urn:AssetsWS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:AssetsWS">
			<xsd:complexType name="Area">
				<xsd:all>
					<xsd:element name="IdArea" type="xsd:string"/>
					<xsd:element name="NombreArea" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="AreaArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:Area[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="Cargo">
				<xsd:all>
					<xsd:element name="IdCargo" type="xsd:string"/>
					<xsd:element name="NombreCargo" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="CargoArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:Cargo[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="MunicipioArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:Municipio[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="Nomina">
				<xsd:all>
					<xsd:element name="Acobrar" type="xsd:float"/>
					<xsd:element name="Anno" type="xsd:integer"/>
					<xsd:element name="Antiguedad" type="xsd:float"/>
					<xsd:element name="DiasAcumulados" type="xsd:float"/>
					<xsd:element name="DiasAcumuladosSubsidio" type="xsd:integer"/>
					<xsd:element name="DiasSolicitados" type="xsd:integer"/>
					<xsd:element name="DiasTrabajados" type="xsd:integer"/>
					<xsd:element name="Estimulo" type="xsd:float"/>
					<xsd:element name="IdExpediente" type="xsd:string"/>
					<xsd:element name="ImportePagado" type="xsd:float"/>
					<xsd:element name="Mes" type="xsd:integer"/>
					<xsd:element name="Plus" type="xsd:float"/>
					<xsd:element name="SalarioAcumulado" type="xsd:float"/>
					<xsd:element name="SalarioAcumuladoSubsidio" type="xsd:float"/>
					<xsd:element name="SalarioBasico" type="xsd:float"/>
					<xsd:element name="SalarioCargo" type="xsd:float"/>
					<xsd:element name="SalarioDevengado" type="xsd:float"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="Persona">
				<xsd:all>
					<xsd:element name="Apellidos" type="xsd:string"/>
					<xsd:element name="Area" type="typens:Area"/>
					<xsd:element name="Cargo" type="typens:Cargo"/>
					<xsd:element name="CI" type="xsd:string"/>
					<xsd:element name="Direccion" type="xsd:string"/>
					<xsd:element name="EsAlta" type="xsd:boolean"/>
					<xsd:element name="EsBaja" type="xsd:boolean"/>
					<xsd:element name="EsDocente" type="xsd:boolean"/>
					<xsd:element name="FechaAlta" type="xsd:dateTime"/>
					<xsd:element name="FechaNacimiento" type="xsd:dateTime"/>
					<xsd:element name="IdExpediente" type="xsd:string"/>
					<xsd:element name="Militante" type="xsd:integer"/>
					<xsd:element name="Municipio" type="typens:Municipio"/>
					<xsd:element name="NivelEscolaridad" type="xsd:string"/>
					<xsd:element name="Nombres" type="xsd:string"/>
					<xsd:element name="Sexo" type="xsd:boolean"/>
					<xsd:element name="Telefono" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="PersonaArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:Persona[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="PersonaBusquedaArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:PersonaBusqueda[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="ProvinciaArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:Provincia[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="Municipio">
				<xsd:all>
					<xsd:element name="IdMunicipio" type="xsd:string"/>
					<xsd:element name="NombreMunicipio" type="xsd:string"/>
					<xsd:element name="Provincia" type="typens:Provincia"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="PersonaBusqueda">
				<xsd:all>
					<xsd:element name="Apellidos" type="xsd:string"/>
					<xsd:element name="Area" type="typens:Area"/>
					<xsd:element name="Cargo" type="typens:Cargo"/>
					<xsd:element name="CI" type="xsd:string"/>
					<xsd:element name="EsAlta" type="xsd:boolean"/>
					<xsd:element name="EsBaja" type="xsd:boolean"/>
					<xsd:element name="EsDocente" type="xsd:boolean"/>
					<xsd:element name="FechaNacimiento" type="xsd:string"/>
					<xsd:element name="IdExpediente" type="xsd:string"/>
					<xsd:element name="Nombres" type="xsd:string"/>
					<xsd:element name="Sexo" type="xsd:boolean"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="Provincia">
				<xsd:all>
					<xsd:element name="IdProvincia" type="xsd:string"/>
					<xsd:element name="NombreProvincia" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="ConocerDadoCIEsBaja">
		<part name="CI" type="xsd:string"/>
	</message>
	<message name="ConocerDadoCIEsBajaResponse">
		<part name="ConocerDadoCIEsBajaReturn" type="xsd:boolean"/>
	</message>
	<message name="ObtenerAreaDadoIdArea">
		<part name="IdArea" type="xsd:string"/>
	</message>
	<message name="ObtenerAreaDadoIdAreaResponse">
		<part name="ObtenerAreaDadoIdAreaReturn" type="typens:Area"/>
	</message>
	<message name="ObtenerAreaDadoIdExpediente">
		<part name="IdExpediente" type="xsd:string"/>
	</message>
	<message name="ObtenerAreaDadoIdExpedienteResponse">
		<part name="ObtenerAreaDadoIdExpedienteReturn" type="typens:Area"/>
	</message>
	<message name="ObtenerAreas"/>
	<message name="ObtenerAreasResponse">
		<part name="ObtenerAreasReturn" type="typens:AreaArray"/>
	</message>
	<message name="ObtenerCantidadPersonasDadoIdArea">
		<part name="IdArea" type="xsd:string"/>
	</message>
	<message name="ObtenerCantidadPersonasDadoIdAreaResponse">
		<part name="ObtenerCantidadPersonasDadoIdAreaReturn" type="xsd:integer"/>
	</message>
	<message name="ObtenerCargoDadoIdCargo">
		<part name="IdCargo" type="xsd:string"/>
	</message>
	<message name="ObtenerCargoDadoIdCargoResponse">
		<part name="ObtenerCargoDadoIdCargoReturn" type="typens:Cargo"/>
	</message>
	<message name="ObtenerCargoDadoIdExpediente">
		<part name="IdExpediente" type="xsd:string"/>
	</message>
	<message name="ObtenerCargoDadoIdExpedienteResponse">
		<part name="ObtenerCargoDadoIdExpedienteReturn" type="typens:Cargo"/>
	</message>
	<message name="ObtenerCargos"/>
	<message name="ObtenerCargosResponse">
		<part name="ObtenerCargosReturn" type="typens:CargoArray"/>
	</message>
	<message name="ObtenerMunicipios"/>
	<message name="ObtenerMunicipiosResponse">
		<part name="ObtenerMunicipiosReturn" type="typens:MunicipioArray"/>
	</message>
	<message name="ObtenerMunicipiosDadoIdProvincia">
		<part name="IdProvincia" type="xsd:string"/>
	</message>
	<message name="ObtenerMunicipiosDadoIdProvinciaResponse">
		<part name="ObtenerMunicipiosDadoIdProvinciaReturn" type="typens:MunicipioArray"/>
	</message>
	<message name="ObtenerNominaDadoIdExpedienteMesAnno">
		<part name="IdExpediente" type="xsd:string"/>
		<part name="Mes" type="xsd:integer"/>
		<part name="Anno" type="xsd:integer"/>
	</message>
	<message name="ObtenerNominaDadoIdExpedienteMesAnnoResponse">
		<part name="ObtenerNominaDadoIdExpedienteMesAnnoReturn" type="typens:Nomina"/>
	</message>
	<message name="ObtenerPersonaDadoIdExpediente">
		<part name="IdExpediente" type="xsd:string"/>
	</message>
	<message name="ObtenerPersonaDadoIdExpedienteResponse">
		<part name="ObtenerPersonaDadoIdExpedienteReturn" type="typens:Persona"/>
	</message>    
    <message name="ObtenerPersonaDadoCIdentidad">
		<part name="NoCI" type="xsd:string"/>
	</message>
	<message name="ObtenerPersonaDadoCIdentidadResponse">
		<part name="ObtenerPersonaDadoIdExpedienteReturn" type="typens:Persona"/>
	</message>    
	<message name="ObtenerPersonas"/>
	<message name="ObtenerPersonasResponse">
		<part name="ObtenerPersonasReturn" type="typens:PersonaArray"/>
	</message>
	<message name="ObtenerPersonasCumpleannosDadoFecha">
		<part name="Fecha" type="xsd:date"/>
	</message>
	<message name="ObtenerPersonasCumpleannosDadoFechaResponse">
		<part name="ObtenerPersonasCumpleannosDadoFechaReturn" type="typens:PersonaArray"/>
	</message>
	<message name="ObtenerPersonasDadoCadenaBusqueda">
		<part name="CadenaBusqueda" type="xsd:string"/>
	</message>
	<message name="ObtenerPersonasDadoCadenaBusquedaResponse">
		<part name="ObtenerPersonasDadoCadenaBusquedaReturn" type="typens:PersonaBusquedaArray"/>
	</message>
	<message name="ObtenerPersonasDadoIdArea">
		<part name="IdArea" type="xsd:string"/>
	</message>
	<message name="ObtenerPersonasDadoIdAreaResponse">
		<part name="ObtenerPersonasDadoIdAreaReturn" type="typens:PersonaArray"/>
	</message>
	<message name="ObtenerPersonasDadoIdCargo">
		<part name="IdCargo" type="xsd:string"/>
	</message>
	<message name="ObtenerPersonasDadoIdCargoResponse">
		<part name="ObtenerPersonasDadoIdCargoReturn" type="typens:PersonaArray"/>
	</message>
	<message name="ObtenerProvincias"/>
	<message name="ObtenerProvinciasResponse">
		<part name="ObtenerProvinciasReturn" type="typens:ProvinciaArray"/>
	</message>
	<portType name="AssetsWSPortType">
		<operation name="ConocerDadoCIEsBaja">
			<documentation>
				Conocer si un trabajador ha sido dado de baja dado su Carne de Identidad.
			</documentation>
			<input message="typens:ConocerDadoCIEsBaja"/>
			<output message="typens:ConocerDadoCIEsBajaResponse"/>
		</operation>
		<operation name="ObtenerAreaDadoIdArea">
			<documentation>
				Obtener un objeto Area dado el IdArea especificado.
			</documentation>
			<input message="typens:ObtenerAreaDadoIdArea"/>
			<output message="typens:ObtenerAreaDadoIdAreaResponse"/>
		</operation>
		<operation name="ObtenerAreaDadoIdExpediente">
			<documentation>
				Obtener el objeto Area a la que pertenece una persona dado su IdExpediente especificado.
			</documentation>
			<input message="typens:ObtenerAreaDadoIdExpediente"/>
			<output message="typens:ObtenerAreaDadoIdExpedienteResponse"/>
		</operation>
		<operation name="ObtenerAreas">
			<documentation>
				Obtener la coleccion de objetos Area con la estructura de la UCI.
			</documentation>
			<input message="typens:ObtenerAreas"/>
			<output message="typens:ObtenerAreasResponse"/>
		</operation>
		<operation name="ObtenerCantidadPersonasDadoIdArea">
			<documentation>
				Obtener la cantidad de personas dado un IdArea determinado.
			</documentation>
			<input message="typens:ObtenerCantidadPersonasDadoIdArea"/>
			<output message="typens:ObtenerCantidadPersonasDadoIdAreaResponse"/>
		</operation>
		<operation name="ObtenerCargoDadoIdCargo">
			<documentation>
				Obtener el objeto Cargo dado el IdCargo especificado.
			</documentation>
			<input message="typens:ObtenerCargoDadoIdCargo"/>
			<output message="typens:ObtenerCargoDadoIdCargoResponse"/>
		</operation>
		<operation name="ObtenerCargoDadoIdExpediente">
			<documentation>
				Obtener el objeto Cargo dado el IdExpediente de Persona especificado.
			</documentation>
			<input message="typens:ObtenerCargoDadoIdExpediente"/>
			<output message="typens:ObtenerCargoDadoIdExpedienteResponse"/>
		</operation>
		<operation name="ObtenerCargos">
			<documentation>
				Obtener la coleccion de objetos Cargo con los cargos de la UCI Sede Central.
			</documentation>
			<input message="typens:ObtenerCargos"/>
			<output message="typens:ObtenerCargosResponse"/>
		</operation>
		<operation name="ObtenerMunicipios">
			<documentation>
				Obtener la coleccion de objetos Municipio
			</documentation>
			<input message="typens:ObtenerMunicipios"/>
			<output message="typens:ObtenerMunicipiosResponse"/>
		</operation>
		<operation name="ObtenerMunicipiosDadoIdProvincia">
			<documentation>
				Este metodo devuelve una coleccion de objetos Municipio dado el id de la provincia
			</documentation>
			<input message="typens:ObtenerMunicipiosDadoIdProvincia"/>
			<output message="typens:ObtenerMunicipiosDadoIdProvinciaResponse"/>
		</operation>
		<operation name="ObtenerNominaDadoIdExpedienteMesAnno">
			<documentation>
				Este metodo devuelve una Nomina dado el IdExpediente, mes y anno
			</documentation>
			<input message="typens:ObtenerNominaDadoIdExpedienteMesAnno"/>
			<output message="typens:ObtenerNominaDadoIdExpedienteMesAnnoResponse"/>
		</operation>
		<operation name="ObtenerPersonaDadoIdExpediente">
			<documentation>
				Obtener el objeto Persona dado el IdExpediente laboral especificado.
			</documentation>
			<input message="typens:ObtenerPersonaDadoIdExpediente"/>
			<output message="typens:ObtenerPersonaDadoIdExpedienteResponse"/>
		</operation>
        <operation name="ObtenerPersonaDadoCIdentidad">
			<documentation>
				Obtener el objeto Persona dado el Carné de Identidad especificado.
			</documentation>
			<input message="typens:ObtenerPersonaDadoCIdentidad"/>
			<output message="typens:ObtenerPersonaDadoCIdentidadResponse"/>
		</operation>
		<operation name="ObtenerPersonas">
			<documentation>
				Obtener la coleccion de objetos Persona con todos los trabajadores que conforman la plantilla de la UCI Sede Central.
			</documentation>
			<input message="typens:ObtenerPersonas"/>
			<output message="typens:ObtenerPersonasResponse"/>
		</operation>
		<operation name="ObtenerPersonasCumpleannosDadoFecha">
			<documentation>
				Obtener la coleccion de objetos Persona que cumplen annos dada una fecha especificada.
			</documentation>
			<input message="typens:ObtenerPersonasCumpleannosDadoFecha"/>
			<output message="typens:ObtenerPersonasCumpleannosDadoFechaResponse"/>
		</operation>
		<operation name="ObtenerPersonasDadoCadenaBusqueda">
			<documentation>
				Obtener la coleccion de objetos Persona dada la cadena para busqueda especificado.
			</documentation>
			<input message="typens:ObtenerPersonasDadoCadenaBusqueda"/>
			<output message="typens:ObtenerPersonasDadoCadenaBusquedaResponse"/>
		</operation>
		<operation name="ObtenerPersonasDadoIdArea">
			<documentation>
				Obtener la coleccion de objetos Persona de un area dado el IdArea especificado.
			</documentation>
			<input message="typens:ObtenerPersonasDadoIdArea"/>
			<output message="typens:ObtenerPersonasDadoIdAreaResponse"/>
		</operation>
		<operation name="ObtenerPersonasDadoIdCargo">
			<documentation>
				Obtener la coleccion de objetos Persona dado el IdCargo especificado.
			</documentation>
			<input message="typens:ObtenerPersonasDadoIdCargo"/>
			<output message="typens:ObtenerPersonasDadoIdCargoResponse"/>
		</operation>
		<operation name="ObtenerProvincias">
			<documentation>
				Obtener la coleccion de objetos Provincia.
			</documentation>
			<input message="typens:ObtenerProvincias"/>
			<output message="typens:ObtenerProvinciasResponse"/>
		</operation>
	</portType>
	<binding name="AssetsWSBinding" type="typens:AssetsWSPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ConocerDadoCIEsBaja">
			<soap:operation soapAction="urn:AssetsWSAction"/>
			<input>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="ObtenerAreaDadoIdArea">
			<soap:operation soapAction="urn:AssetsWSAction"/>
			<input>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="ObtenerAreaDadoIdExpediente">
			<soap:operation soapAction="urn:AssetsWSAction"/>
			<input>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="ObtenerAreas">
			<soap:operation soapAction="urn:AssetsWSAction"/>
			<input>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="ObtenerCantidadPersonasDadoIdArea">
			<soap:operation soapAction="urn:AssetsWSAction"/>
			<input>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="ObtenerCargoDadoIdCargo">
			<soap:operation soapAction="urn:AssetsWSAction"/>
			<input>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="ObtenerCargoDadoIdExpediente">
			<soap:operation soapAction="urn:AssetsWSAction"/>
			<input>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="ObtenerCargos">
			<soap:operation soapAction="urn:AssetsWSAction"/>
			<input>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="ObtenerMunicipios">
			<soap:operation soapAction="urn:AssetsWSAction"/>
			<input>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="ObtenerMunicipiosDadoIdProvincia">
			<soap:operation soapAction="urn:AssetsWSAction"/>
			<input>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="ObtenerNominaDadoIdExpedienteMesAnno">
			<soap:operation soapAction="urn:AssetsWSAction"/>
			<input>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="ObtenerPersonaDadoIdExpediente">
			<soap:operation soapAction="urn:AssetsWSAction"/>
			<input>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>        
        <operation name="ObtenerPersonaDadoCIdentidad">
			<soap:operation soapAction="urn:AssetsWSAction"/>
			<input>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
        <operation name="ObtenerPersonas">
			<soap:operation soapAction="urn:AssetsWSAction"/>
			<input>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="ObtenerPersonasCumpleannosDadoFecha">
			<soap:operation soapAction="urn:AssetsWSAction"/>
			<input>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="ObtenerPersonasDadoCadenaBusqueda">
			<soap:operation soapAction="urn:AssetsWSAction"/>
			<input>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="ObtenerPersonasDadoIdArea">
			<soap:operation soapAction="urn:AssetsWSAction"/>
			<input>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="ObtenerPersonasDadoIdCargo">
			<soap:operation soapAction="urn:AssetsWSAction"/>
			<input>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="ObtenerProvincias">
			<soap:operation soapAction="urn:AssetsWSAction"/>
			<input>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:AssetsWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	<service name="AssetsWSService">
		<port name="AssetsWSPort" binding="typens:AssetsWSBinding">
			<soap:address location="http://assets.uci.cu/servicios/v4/AssetsWS.php"/>
		</port>
	</service>
</definitions>
